<app-navbar></app-navbar> 
<div class="home-page-container">
  <div class="social-media">
    <ul>
      <li><fa-icon [icon]="faFacebookF"></fa-icon></li>
      <li><fa-icon [icon]="faInstagram"></fa-icon></li>
      <li><fa-icon [icon]="faTwitter"></fa-icon></li>
    </ul>
  </div>
  <div class="landing-container">
    <div class="landing-message-container">
      <div class="landing-hero-message">
        You can't buy love, but you can <b>rescue</b> it!
      </div>
      <div class="hero-buttons">
        <button>Donate today</button>
        <button>Learn more</button>
      </div>
    </div>
  </div>
</div>
